.filter-parent {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    align-items: center;
    padding: 4px;
}

h2 {
    margin: 5px;
    padding: 0;
}

.filter-dropdowns {
    margin-left: 15px;
    margin-bottom: 0px;
    padding: 0px;
}

.filter-container {
    display: flex;
    flex-direction: row;
}

.filter-container select {
    padding: 10px;
    border: none;
    border:solid 2px #3d3d3d;
    border-radius: 4px;
}

.projectContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: start;
    overflow: auto;
    /* margin-left: 5px; */
}

.navigationContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}

.SVGarrow {
    /* stroke: green !important; */
    fill: rgb(0, 94, 255) !important;
    width: 30px;
    height: 30px;
}

.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 0;
    font-size: 25px;
    color: rgb(0, 94, 255);
  }