#logInButton{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 33px;
    color: #4646D7;
    background-color: white;
    border: 2px solid blue;
    border-radius: 10px;
    margin-right: 20px;
}

#logInButton:hover{
    cursor: pointer;
}

#sign-up-button {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 33px;
    color: white;
    background-color: #4646D7;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 0px 15px 0px 15px;
}

#sign-up-button:hover {
    cursor: pointer;
}

#sign-out-button {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: white;
    background-color: #2580ff;
    border: none;
    border-radius: 10px;
}

#sign-out-button:hover {
    cursor: pointer;
}