#logInButton{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #4646D7;
    background-color: white;
    border: none;
}

#logInButton:hover{
    cursor: pointer;
}

#sign-up-button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: white;
    background-color: #4646D7;
    border: none;
    border-radius: 10px;
}

#sign-up-button:hover {
    cursor: pointer;
}