#sign-up-button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: white;
    background-color: #4646D7;
    border: none;
    border-radius: 10px;
}

#sign-up-button:hover {
    cursor: pointer;
}

#sign-up-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sign-up-modal-container > p { 
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #000000;
}

#sign-up-modal-close-button {
    border: none;
    background-color: white;
    width: fit-content;
    height: fit-content;
}

#sign-up-modal-close-button:hover{
    cursor: pointer;
}

#sign-up-modal-input-container > button{    
    background: #4646D7;
    border-radius: 30px;
    color:white;
    border: none;
    padding: 5px;
}

#sign-up-modal-input-container > button:hover{
    cursor: pointer;
}

#sign-up-modal-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}

.SignUpModalError {
    color: red;
    font-size: 10px;
    padding-bottom: 15px;
}