#search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(45deg, #679DEB , #DDAFF5);
    color: white;
    height: 500px;
}