#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-family: 'Helvetica';
}

#left-nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

#left-nav-items > .NavLink {
    padding: 10px;
}

#right-nav-items {

    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
    /* width: ; */
    margin-right: 30px;
}

#right-nav-items > .NavLink {
    padding: 10px;
}

a {
    text-decoration: none;
}
.title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    margin: 1rem;
}

.nav-link-title {
    background: linear-gradient(to right, #ff7e5f, #7babfe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-link-title:visited {
    background: linear-gradient(to right, #ff7e5f, #7babfe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-link-other {
    color: rgb(111, 111, 255);
    font-weight: bold;
    font-size: 20px;
    margin-left: 3rem;
}

.nav-link-other:visited {
    color: rgb(111, 111, 255);
    font-weight: bold;
    font-size: 20px;
    margin-left: 3rem;
}

.svg-cont-prof {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.prof-pic-nav {
    height: 40px;
    width: 40px;
    margin: 0;
}


a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }