.project-tile {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    color: white;
    padding: 10px;
    margin: 5px;
    width: 29.25vw;
    transition: all 0.1s;
    position:static;
}

.project-tile:hover {
    transform: scale(1.05);
    transition: all 0.1s;
}

.project-tile h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.demo-project {
    background-image: linear-gradient(45deg, #3E3E79 , #7878E8);
}

.create-project {
    background-image: linear-gradient(45deg, #e913d4 , #7878E8);
}

.project-tile-button {
    display: flex;
    flex-direction: column;
    text-align: left;
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.plus-sign {
    stroke: white !important;
    width: 70px;
    height: 70px;
}

.plus-div {
    fill: white;
}

.project-title {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.description-container{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow:scroll;
    border: 0px;
    text-overflow:ellipsis;
    height: 200px;
    scrollbar--width: 1px;
    /* margin-bottom: 5px; */
}


  
.description-container::-webkit-scrollbar {
width: 8px; /* Set the width for the scrollbar */
background-color: rgba(0, 0, 0, 0); /* Make the surrounding area transparent */
}

.description-container::-webkit-scrollbar-thumb {
background-color: rgba(0, 0, 0, 0.5); /* Set thumb to semi-transparent */
border-radius: 0px; /* Optional: round the thumb edges */
}

.description-container::-webkit-scrollbar-track {
background-color: rgba(0, 0, 0, 0); /* Make the track transparent */
border-radius: 0px; /* Optional: round the track edges */
}
/*
.tag-array {
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 100%; 
    float: left;
    white-space: nowrap;
} */