.project-tile {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(45deg, #3E3E79 , #7878E8);
    border-radius: 20px;
    color: white;
    padding: 20px;
    margin: 5px;
    width: 30vw;
}

.demo-project {
    background-image: linear-gradient(45deg, #3E3E79 , #7878E8);
}

.create-project {
    background-image: linear-gradient(45deg, #e913d4 , #7878E8);
}

.project-tile-button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.plus-sign {
    stroke: white !important;
    width: 10vw;
    height: 10vh;
}

.plus-div {
    fill: white;
}

.project-tile-description{
    /* //todo */
}

