#explore-projects-section {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

#project-tiles-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#scroll-container {
    display: flex;
    align-items: center;
    background-color: #759FED;
    overflow: hidden;
    height: 150px;
    color: white;
    font-size: 30px;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }  }

.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(45deg, #679DEB , #DDAFF5);
  color: white;
  height: 500px;
  }

.search-section h2 {
  margin-bottom: 40px;
}

.more-projects {
  /* display: flex; */
}

.more-projects-link {
  float: right;
  font-size: 20px;
  margin: 10px;
}

.about-text-area {
  margin: 0 auto;
  width: 50rem;
  font-size: large;
}